* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(27, 66%, 92%);
  font-size: 18px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
}

.balance {
  position: relative;
  background-color: hsl(10, 79%, 65%);
  width: 380px;
  height: 80px;
  color: hsl(33, 100%, 98%);
  border-radius: 15px;
  margin-bottom: 15px;
}

.balance p {
  padding: 13px 20px 5px;
  font-size: 13px;
}

.balance__money {
  font-size: 25px;
  margin: 20px;
  font-weight: 700;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circle__one {
  top: 50%;
  left: 86%;
  transform: translate(-50%, -50%);
  border: 2px solid hsl(33, 100%, 98%);
  background-color: transparent;
  z-index: 1;
}

.circle__two {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: hsl(25, 47%, 15%);
}

.results {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 360px;
  background-color: hsl(33, 100%, 98%);
  border-radius: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0 10px 25px;
  color: hsl(25, 47%, 15%);
}

.charts {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 35px 20px 10px 20px;
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  width: 38px;
  border-radius: 5px;
  height: 80px;
  background-color: hsl(10, 79%, 65%);
  margin: 0 auto;
  cursor: pointer;
}

.column:hover {
  opacity: 0.6;
}

.column-mon {
  height: 35px;
}

.column-money-hover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(25, 47%, 15%);
  color: hsl(27, 66%, 92%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  transition: opacity 0.5s ease;
}

.chart:hover .column-money-hover {
  top: -30px;
  visibility: visible;
  opacity: 1;
}

.column-tue {
  height: 70px;
}

.column-wed {
  height: 100px;
}

.column-thu {
  height: 60px;
}

.column-fri {
  height: 45px;
}

.column-sat {
  height: 85px;
}

.column-sun {
  height: 50px;
}

.column.current {
  background-color: hsl(186, 34%, 60%);
}

.day {
  margin: 5px 0;
  color: hsl(28, 10%, 53%);
  font-size: 14px;
}

.line {
  height: 1px;
  width: 85%;
  background-color: hsl(27, 66%, 92%);
  margin: 5px auto 30px;
}

.total__month {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.total__month__money-container p {
  font-size: 14px;
  color: hsl(28, 10%, 53%);
}

.total__month__money {
  font-weight: 700;
  font-size: 35px;
  color: hsl(25, 47%, 15%);
}

.total__month-percent-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
}

.total__month-percent {
  font-size: 16px;
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}

.total__month-percent-container p {
  font-size: 14px;
  color: hsl(28, 10%, 53%);
}

@media (max-width: 600px) {
  .results {
    width: 360px;
  }
  .balance {
    width: 360px;
  }
}
