* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(27, 66%, 92%);
  font-size: 18px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
}

.balance {
  position: relative;
  background-color: hsl(10, 79%, 65%);
  width: 480px;
  height: 110px;
  color: hsl(33, 100%, 98%);
  border-radius: 15px;
  margin-bottom: 15px;
}

.balance p {
  padding: 20px 25px 8px;
  font-size: 16px;
}

.balance__money {
  font-size: 32px;
  margin: 20px 20px 20px 25px;
  font-weight: 700;
}

.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.circle__one {
  top: 50%;
  left: 86%;
  transform: translate(-50%, -50%);
  border: 2px solid hsl(33, 100%, 98%);
  background-color: transparent;
  z-index: 1;
}

.circle__two {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: hsl(25, 47%, 15%);
}

.results {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 460px;
  background-color: hsl(33, 100%, 98%);
  border-radius: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 10px 10px 35px;
  color: hsl(25, 47%, 15%);
}

.charts {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 50px 20px 10px 20px;
}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  width: 47px;
  border-radius: 5px;
  background-color: hsl(10, 79%, 65%);
  margin: 0 auto;
  cursor: pointer;
}

.column:hover {
  opacity: 0.6;
}

.column-mon {
  height: 40px;
}

.column-tue {
  height: 80px;
}

.column-wed {
  height: 125px;
}

.column-thu {
  height: 75px;
}

.column-fri {
  height: 55px;
}

.column-sat {
  height: 100px;
}

.column-sun {
  height: 60px;
}

.column.current {
  background-color: hsl(186, 34%, 60%);
}

.column-money-hover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(25, 47%, 15%);
  color: hsl(27, 66%, 92%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  padding: 8px;
  font-weight: 700;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.chart:hover .column-money-hover {
  top: -48px;
  visibility: visible;
  opacity: 1;
}

.day {
  margin: 5px 0;
  color: hsl(28, 10%, 53%);
  font-size: 14px;
}

.line {
  height: 2px;
  width: 85%;
  background-color: hsl(27, 66%, 92%);
  margin: 15px auto 35px;
}

.total__month {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.total__month__money-container p {
  color: hsl(28, 10%, 53%);
}

.total__month__money {
  font-weight: 700;
  font-size: 45px;
  color: hsl(25, 47%, 15%);
}

.total__month-percent-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 25px;
}

.total__month-percent {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}

.total__month-percent-container p {
  color: hsl(28, 10%, 53%);
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .balance {
    width: 360px;
    height: 100px;
  }

  .balance__money {
    font-size: 28px;
  }

  .circle {
    width: 40px;
    height: 40px;
  }

  .circle__one {
    left: 85%;
  }

  .results {
    width: 360px;
    height: 420px;
  }

  h1 {
    font-size: 26px;
    margin: 20px 10px 10px 25px;
  }

  .charts {
    margin: 35px 20px 10px 20px;
  }

  .column {
    width: 35px;
  }

  .column-mon {
    height: 55px;
  }

  .column-tue {
    height: 85px;
  }

  .column-wed {
    height: 130px;
  }

  .column-thu {
    height: 80px;
  }

  .column-fri {
    height: 60px;
  }

  .column-sat {
    height: 110px;
  }

  .column-sun {
    height: 70px;
  }

  .chart:hover .column-money-hover {
    top: -48px;
    visibility: visible;
    opacity: 1;
  }

  .total__month {
    margin: 0 20px;
  }

  .total__month__money {
    font-size: 35px;
  }

  .total__month-percent-container {
    margin-top: 20px;
  }
}
